.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  margin-bottom: 24px;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

.popup__input_type_error {
  border-bottom: 1px solid rgba(255, 0, 0, 1);
}

.popup__input-error {
  color: rgba(255, 0, 0, 1);
  font-size: 12px;
  line-height: 100%;
  display: none;
  position: absolute;
  width: fit-content; 
  max-width: 360px;
  inset: 143px 36px;
  max-height: min-content;
}

.name-input-error, 
.place-name-input-error {
  inset: 143px 36px;
}

.description-input-error,
.link-input-error {
  inset: 213px 36px;
}

.popup__input-error_active {
  display: block;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
